name: Build and Push Docker Image

on:
  push:
    branches: [ main ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set image tag
        run: echo "IMAGE_TAG=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/flask-app:${{ env.IMAGE_TAG }} .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/flask-app:${{ env.IMAGE_TAG }}

      - name: Tag as latest
        run: docker tag ${{ secrets.DOCKER_USERNAME }}/flask-app:${{ env.IMAGE_TAG }} ${{ secrets.DOCKER_USERNAME }}/flask-app:latest


      - name: Push latest
        run: docker push ${{ secrets.DOCKER_USERNAME }}/flask-app:latest